---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Google
IndentWidth: 4
# ColumnLimit: 100
---
Language: Cpp
# Standard: Cpp17
AlwaysBreakTemplateDeclarations: Yes
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AlignAfterOpenBracket: AlwaysBreak
BreakConstructorInitializers: BeforeColon
# InsertTrailingCommas: Wrapped
IncludeBlocks: Regroup
# SortIncludes: CaseSensitive
IndentPPDirectives: AfterHash
# ---
